<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Returns & Refunds</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>House Help</h3>
                    <p>The platform helps customers book realiable & high quality services for your home on demand. The services are delivered by highly trained professionals at your time and schedule.</p>
                </div>
            </div>
            <p class="copyright"></p>
        </div>
    </footer>
</div>